<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="planetController">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    {% raw %}
    <title>{{board_name}} | iPtt</title>
    {% endraw %}

    {% include 'ref.html' %}
      <script type="text/javascript" src="{{ url_for('static', filename='js/board.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/ng-infinite-scroll.min.js') }}"></script>
  </head>

  <body >
    {% include 'navbar.html' %}


    {% raw %}
      <div class="col-xs-8 col-md-8 col-xs-offset-2 col-md-offset-2">

        <ul class="list-group" infinite-scroll='loadMore()' infinite-scroll-disabled='busy' infinite-scroll-distance='1'>
            <li class="list-group-item" ng-repeat="x in posts">
                <div class="row">
                    <div class="col-xs-3">
                        <span class="label label-info bold">{{x.author}}</span>
                    </div>
                    <div class="col-xs-7 col-md-7">
                        <a href="{{x.href}}"> {{ x.title }} </a>
                    </div>
                    <div class="col-xs-2">
                        <span class="badge badge-danger">{{x.nrec}}</span>
                    </div>
                </div>
            </li>
        </ul>
      </div>


    {% endraw %}

  </body>
</html>
