<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>iPtt</title>


    {% include 'ref.html' %}
</head>

<body>
{% include 'navbar.html' %}

{% raw %}
<div class="col-md-8 col-md-offset-2" ng-app="myApp" ng-controller="planetController">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="x in posts">
            <div class="row">
                <div class="col-md-3">
                    <span class="label label-success bold">{{x.name}}</span>
                </div>
                <div class="col-md-8">
                    <a href="{{x.href}}"> {{ x.title }} </a>
                </div>
                <div class="col-md-1 pull-right">
                    <span class="badge badge-danger">{{x.nrec}}</span>
                </div>
            </div>
        </li>
    </ul>
</div>
{% endraw %}


<script>
    var app = angular.module('myApp', []);
    app.controller('planetController', function($scope, $http, $log) {
        $http.get("http://127.0.0.1:5000/api/hotboard")
                .success(function(response) {
                    $scope.posts = response;}
                );
    });
</script>

</body>
</html>
