<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="planetController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    {% raw %}
    <title>{{title}} | iPtt</title>
    {% endraw %}

    {% include 'ref.html' %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/post.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ng-infinite-scroll.min.js') }}"></script>
</head>

<body>
{% include 'navbar.html' %}

{% raw %}
<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <p class="panel-title">
                作者 : {{author}} <br>
                標題 : {{title}} <br>
                時間 : {{time}} <br>
            </p>
        </div>
        <div class="panel-body">
            <div ng-repeat="x in posts">
                <div ng-bind-html="x.text"></div>
            </div>
        </div>
    </div>
</div>
{% endraw %}

</body>
</html>
